<div class="form-group">
	<label for="name">Name</label>
	<input type="text" class="form-control" name="name" id="name" value="{{name}}" required>
</div>
<fieldset>
	<legend>Bounds</legend>
	<div class="form-group">
		<label for="x max">x max</label>
		<input type="number" class="form-control" name="x-max" id="x-max" value="{{x-max}}">
	</div>
	<div class="form-group">
		<label for="y max">y max</label>
		<input type="number" class="form-control" name="y-max" id="y-max"  value="{{y-max}}">
	</div>
	<div class="form-group">
		<label for="x min">x min</label>
		<input type="number" class="form-control" name="x-min" id="x-min" value="{{x-min}}">
	</div>
	<div class="form-group">
		<label for="y min">y min</label>
		<input type="number" class="form-control" name="y-min" id="y-min"  value="{{y-min}}">
	</div>
</fieldset>
<!-- <div class="form-group">
	<label for="password">Password</label>
	<input type="password" class="form-control" name="password" id="password" >
</div>
